.main {
  width: 384px;
  height: 214px;
  border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  transform: scale(1);
  transition: 0.5s all;

  &_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_image_container {
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: blur(0px);
    transition: 0.5s all;
  }
  &_image {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: 0.5s all;
    &:hover {
      transform: scale(1.19);
      transition: 0.5s all;
      filter: blur(3px);
      transition: 0.5s all;
    }
  }
  &_save_box {
    color: red;
    position: absolute;
    opacity: 0;
    transition: 0.5 all;
  }
  &:hover &_save_box {
    opacity: 1;
    transition: 0.5 all;
  }
  &_save_button_input {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    &:hover {
      cursor: pointer;
    }
  }
  &_more_button_input {
  }
}
