.Home-Page-Background {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .Home-Page-Slide-Show {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Home-Page-GameList {
    width: 95%;
    margin: auto;
  }
}
