.Home-Page-Background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .Home-Page-Slide-Show {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .Home-Page-Cart-Slide-Show-Mobile {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .Home-Page-Slide-Show {
    display: none;
  }
  .Home-Page-Cart-Slide-Show-Mobile {
    display: block;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}
