///////////////////////////////////////////////////////////////
// Active Modal

@keyframes Open-Modal {
  0%{
    width: 0;
    height: 0;
    right: -64rem;

  }
  25%{
    width: 3rem;
    height: 50px;
  }
  50%{
    right: 0;
  }
}

.Modal-Active{
  display: flex !important;
}
///////////////////////////////////////////////////////////////
// Deactivate Modal

.Modal-DeActive{
  display: none !important;
}
////////////////////////////////////////////////////////////////
.Change-Search-Box{
  border-radius: 10px 10px 0 0 !important;
}
.Show-Result-Box{
  visibility: visible !important;
  opacity: 1 !important;
}
///////////////////////////////////////////////////////////////
// Search Modal Style
.Search-Modal-Background{
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.63);
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);

  .Search-Parent{
    position: relative;
    width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px;
    .Search-box-Background{
      width: 100%;
      height: 50px;
      background-color: #0c0a09;
      border-radius: 10px;
      border: 1px solid #57534e;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      animation: Open-Modal 900ms ease-in-out;

      input[type="search"]{
        @keyframes Show-Search-Input {
          from{
            visibility: hidden;
            opacity: 0;
          }
          to{
            visibility: visible;
            opacity: 1;
          }

        }

        width: calc(100% - 50px);
        height: 100%;
        border-radius: 50px 0 0 50px;
        background-color: Transparent;
        outline: none;
        border: none;
        color: #ffffff;
        font-family: var(--IranSansWeb), serif;
        font-size: 15px;
        padding: 0 10px;
        opacity: 0;
        visibility: hidden;
        animation: Show-Search-Input 150ms ease-in-out forwards;
        animation-delay: 1s;
      }
      input[type="search"]::placeholder{
        color: #57534e;
        font-family: var(--IranSansWeb), serif;
      }
      input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
        height: 20px;
        width: 20px;
        cursor: pointer;
        background: url(../../../Assets/Icon/Clear.svg) no-repeat center center;
        color: #57534e;
      }

      button{
        @keyframes Show-Search-Button {
          from{
            visibility: hidden;
            opacity: 0;
          }
          to{
            visibility: visible;
            opacity: 1;
          }

        }
        width: 50px;
        height: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 0 50px 50px 0;
        opacity: 0;
        visibility: hidden;
        animation: Show-Search-Button 150ms ease-in-out forwards;
        animation-delay: 1s;
        .Search-Icon{
          width: 30px;
          height: 30px;
          color: #57534e;
          rotate: 90deg;
        }
      }
    }

    .Search-Result-Box-Background{
      position: absolute;
      width: 100%;
      height: auto;
      top: 3.2em;
      overflow: hidden;
      border-radius: 0 0 10px 10px;

      .Search-Result-Box{
        direction: ltr;
        width: 100%;
        height: auto;
        max-height: 12em;
        visibility: hidden;
        opacity: 0;
        background-color: #0c0a09;
        border-radius: 0 0 10px 10px;
        border-left: 1px solid #57534e;
        border-right: 1px solid #57534e;
        border-bottom: 1px solid #57534e;
        overflow-y: auto;
        overflow-x: hidden;
        transition: all ease-in-out 150ms;
      }

      // All Scroll Bar
      .Search-Result-Box::-webkit-scrollbar{
        width: 5px;
      }

      // Background Scroll Bar
      .Search-Result-Box::-webkit-scrollbar-track{
        background-color: #1e1e2f;
      }

      // Thumb Scroll Bar
      .Search-Result-Box::-webkit-scrollbar-thumb{
        background-color: #3e3e5e;
        transition: background-color ease-in-out 150ms;

      }

      // Thumb Hover Scroll Bar
      .Search-Result-Box::-webkit-scrollbar-thumb:hover{
        background-color: #5e5e9e;
        cursor: pointer;
        transition: background-color ease-in-out 150ms;
      }

      // Thumb Active Scroll Bar
      .Search-Result-Box::-webkit-scrollbar-thumb:active{
        background-color: #7f7fd5;
        transition: background-color ease-in-out 150ms;
      }
    }
  }
}