.container {
  width: 1366px;
  height: 94px;
  background-color: #1a1528;
  &_items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  &_logo {
    color: red;
    width: 52px;
    height: 38px;
  }
  &_searchBox {
  }
  &_seachInput {
    background-color: #302f31;
    border-radius: 15px;
    color: white;
    border: none;
    width: 390px;
    height: 54px;
  }
  &_navigation_menu {
    display: flex;
    width: 505px;
    justify-content: space-between;
    align-items: center;
  }
  &_profile {
    border: 1px solid red;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_logo_search {
    display: flex;
    align-items: center;
  }
}
