// Open Navigation
@keyframes ShowText {
  from {
    opacity: 0;
    right: 8rem;
  }
  to {
    opacity: 1;
    right: 4rem;
  }
}

.Open-Navigation {
  width: 13rem !important;
  transition: width ease-in-out 150ms;
}

.Show-Navigation-Text {
  position: relative;
  opacity: 1;
  font-family: var(--IranSansWeb), serif;
  color: #ffffff;
  font-weight: bold;
  right: 8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: ShowText 150ms ease-in-out forwards;
}

/////////////////////////////////////////////////////////////////////////////////////

//Close Navigation
@keyframes HideText {
  from {
    opacity: 1;
    right: 4rem;
  }
  to {
    opacity: 0;
    right: 8rem;
  }
}

.Close-Navigation {
  width: 55px !important;
  transition: width ease-in-out 150ms;
}

.Hide-Navigation-Text {
  position: relative;
  opacity: 1;
  font-family: var(--IranSansWeb), serif;
  color: #ffffff;
  font-weight: bold;
  right: 4rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: HideText 150ms ease-in-out forwards;
}

/////////////////////////////////////////////////////////////////////////////////////

//Select Section
.Active-Select {
  width: 100% !important;
  height: 45px !important;
  background-color: rgb(75, 69, 110) !important;
  border-radius: 10px !important;
  transition: background-color ease-in-out 150ms !important;
}

////////////////////////////////////////////////////////////////////////////////////

// Navigation Style
.Navigation-Background {
  position: fixed;
  width: 55px;
  height: 100vh;
  background-color: #1a1528;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1px 0;
  .Navigation-Icon {
    width: 30px;
    height: 30px;
    color: #ffffff;
  }

  .Navigation-Logo {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 6px;
    justify-content: flex-start;
    img {
      width: 42px;
      height: 28px;
    }
  }

  .Navigation-Content {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    .Navigation-Content-Link{
      width: 100%;
      height: 50px;
      padding: 0 5px;
      overflow: hidden;
      .Navigation-Content-Icon {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .Navigation-Content-Select {
          width: 100%;
          height: 45px;
          display: flex;
          align-items: center;
          background-color: transparent;
          outline: none;
          border: none;
          justify-content: flex-start;
          border-radius: 10px;
          padding: 0 7px;
          transition: background-color ease-in-out 150ms;

          .NC-ICO {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .Navigation-Content-Select:hover {
          cursor: pointer;
          background-color: rgb(75, 69, 110);
          transition: background-color ease-in-out 150ms;
        }

        .Navigation-Content-Select:active {
          scale: 0.9;
        }
      }

    }

    .Navigation-Content-Show-Title{
      position: absolute;
      visibility: hidden;
      width: auto;
      height: 35px;
      background-color: #1a1528;
      border-radius: 5px;
      right: 80px;
      opacity: 0;
      display: flex;
      justify-content: center;
      padding: 0 10px;
      align-items: center;
      transition: all ease-in-out 150ms;

      span{
        font-family: var(--IranSansWeb), serif;
        color: #ffffff;
        opacity: 0;
        font-size: 10px;
        white-space: nowrap;
        transition:  opacity ease-in-out 500ms;
      }
    }

    .Navigation-Content-Select:hover + .Navigation-Content-Show-Title{
      visibility: visible;
      right: 60px;
      opacity: 1;
      transition: all ease-in-out 150ms;

      span{
        opacity: 1;
        transition:  opacity ease-in-out 500ms;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////
// Navigation Responsive

@media screen And (max-width: 768px) {
  .Active-Select{
    width: 45px !important;
  }
  .Navigation-Background {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 55px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 !important;

    .Navigation-Logo{
      display: none;
    }

    .Navigation-Content{
      width: 100%;
      height: 100%;
      display: flex;
      margin-top: 0 !important;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;

      .Navigation-Button-Status{
        display: none !important;
      }
      .Icon-Title{
        display: none;
      }
      .Navigation-Content-Show-Title{
        display: none;
      }

      .Navigation-Content-Link{
        width: 50px !important;
        .Navigation-Content-Icon{
          width: 50px !important;
          .Navigation-Content-Select{
            width: 45px !important;
          }
        }
      }
    }

  }
}
