//////////////////////////////////////////
// this section is for show filter item
.Show-On-Year-Section{
  top: 50px !important;
  opacity: 1 !important;
  visibility: visible !important;
  transition: all ease-in-out 150ms !important;
}

.Show-On-Genre-Section{
  top: 100px !important;
  opacity: 1 !important;
  visibility: visible !important;
  transition: all ease-in-out 150ms !important;
}

.Show-On-Meta-Section{
  top: 150px !important;
  opacity: 1 !important;
  visibility: visible !important;
  transition: all ease-in-out 150ms !important;
}
//////////////////////////////////////////
// this section is for show filter content

.Show-On-Year-Filter-Content{
  right: 60px !important;
  opacity: 1 !important;
  visibility: visible !important;
  transition: all ease-in-out 150ms !important;
}

.Archive-Page-Filter-Background{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .Archive-Page-Filter{
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #1a1528;
    .Archive-Page-Filter-Logo{
      z-index: 2;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border:  none;
      outline: none;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color ease-in-out 150ms, scale ease-in-out 50ms;

      svg{
        width: 20px;
        height: 20px;
        color: #ffffff;
      }
    }
    .Archive-Page-Filter-Logo:hover{
      cursor: pointer;
      background-color:  #3e3e5e;
      transition: background-color ease-in-out 150ms;
    }
    .Archive-Page-Filter-Logo:active{
      scale: 0.9;
      transition: scale ease-in-out 50ms;
    }
    //////////////////////////////////////////
    .Archive-Page-Filter-Item{
      z-index: 1;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #1a1528;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out 150ms;

      .Filter-Content{
        position: absolute;
        z-index: 1;
        width: 13rem;
        height: auto;
        right: 80px;
        opacity: 0;
        visibility: hidden;
        border-radius: 10px;
        padding: 0 10px;
        background-color: #1e1e2f;
        transition: all ease-in-out 150ms;
      }
    }
  }


}