.Archive-Page-Filter-Background{
  width: 100%;
  height: 45px;
  display: flex;
  border-radius: 10px;
  background-color: #1a1528;
  .Archive-Page-Filter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    .Archive-Page-Filter-Logo{
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg{
        width: 20px;
        height: 20px;
        color: #ffffff;
      }
    }
    .Archive-Page-Filter-Item{
      .Archive-Page-Filter-Item-Button{
        width: 100%;
        height: 40px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: none;
        outline: none;
      }
    }
  }
}