.game-list {
  width: 100%;

  margin: 0 auto;
  padding: 2rem;
  direction: rtl;

  .cards-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); // کارت‌ها در ستون‌های responsive
    gap: 1.5rem; // فاصله بین کارت‌ها
    justify-items: start; // شروع چیدمان از سمت راست (چون rtl است)
  }

  .loading {
    text-align: center;
    padding: 1rem;
    color: #777;
    font-size: 1rem;
  }
}
