.App-Background {
  width: 100%;
  height: fit-content;
  background: linear-gradient(45deg, #0e0b22, #161420);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .Size {
    fill: blue;
    stroke-width: 25px;
  }

  .App-Navigation {
    z-index: 99999;
    width: auto;
    height: 100%;
  }
  .App-Content {
    width: 80%;
    height: 100%;
  }
}
