.App-Background {
  width: 100%;
  height: fit-content;
  background: linear-gradient(45deg, #0e0b22, #161420);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .Size {
    fill: blue;
    stroke-width: 25px;
  }
  .App-Navigation {
    width: auto;
    height: 100%;
  }
  .App-Content {
    width: 80%;
    height: 100%;
    background-color: #0e0b22;
  }
}

// Change Style App-Navigation
.Open-App-Navigation {
  width: 13rem !important;
}
.Close-App-Navigation {
  width: 55px !important;
}

// Change Style App Content
.Open-App-Content {
  width: calc(100% - 13rem) !important;
}
.Close-App-Content {
  width: calc(100% - 55px) !important;
}

///////////////////////////////////////////////////////

@media screen And (max-width: 520px) {
  .App-Background {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;

    .App-Navigation{
      z-index: 999999;
      width: 100% !important;
      height: 55px !important;
      position: fixed;
      top: 0;
    }

    .App-Content{
      width: 100% !important;
      height: calc(100% - 55px);
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }
}
