$primary-color: #ff005d; // رنگ اصلی خطوط
$bg-start: #240015; // رنگ شروع گرادیانت پس‌زمینه
$bg-end: #12000b; // رنگ پایان گرادیانت پس‌زمینه
$text-shadow: #12000a; // رنگ سایه متن

.not-found-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #0e0b22;
  overflow: hidden;

  & .wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    & h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: 150px;
      font-size: 32px;
      text-transform: uppercase;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      font-family: var(--IranSansWeb), serif;
      color: #ffffff;
      font-weight: 300;
    }

    & #svgWrap_1,
    & #svgWrap_2 {
      position: absolute;
      height: auto;
      width: 600px;
      max-width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      & #id1_1,
      & #id2_1,
      & #id3_1 {
        stroke: $primary-color;
        stroke-width: 3px;
        fill: transparent;
        filter: url(#glow);
      }

      & #id1_2,
      & #id2_2,
      & #id3_2 {
        stroke: $text-shadow;
        stroke-width: 3px;
        fill: transparent;
        filter: url(#glow);
      }

      & #id3_1 {
        stroke-dasharray: 940px;
        stroke-dashoffset: -940px;
        animation: drawLine3 2.5s ease-in-out 0s forwards, flicker3 4s linear 4s infinite;
      }

      & #id2_1 {
        stroke-dasharray: 735px;
        stroke-dashoffset: -735px;
        animation: drawLine2 2.5s ease-in-out 0.5s forwards, flicker2 4s linear 4.5s infinite;
      }

      & #id1_1 {
        stroke-dasharray: 940px;
        stroke-dashoffset: -940px;
        animation: drawLine1 2.5s ease-in-out 1s forwards, flicker1 4s linear 5s infinite;
      }
    }
  }
}

// انیمیشن‌ها
@keyframes drawLine1 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawLine2 {
  0% {
    stroke-dashoffset: -735px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawLine3 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes flicker1 {
  0% {
    stroke: $primary-color;
  }
  1% {
    stroke: transparent;
  }
  3% {
    stroke: transparent;
  }
  4% {
    stroke: $primary-color;
  }
  6% {
    stroke: $primary-color;
  }
  7% {
    stroke: transparent;
  }
  13% {
    stroke: transparent;
  }
  14% {
    stroke: $primary-color;
  }
  100% {
    stroke: $primary-color;
  }
}

@keyframes flicker2 {
  0% {
    stroke: $primary-color;
  }
  50% {
    stroke: $primary-color;
  }
  51% {
    stroke: transparent;
  }
  61% {
    stroke: transparent;
  }
  62% {
    stroke: $primary-color;
  }
  100% {
    stroke: $primary-color;
  }
}

@keyframes flicker3 {
  0% {
    stroke: $primary-color;
  }
  1% {
    stroke: transparent;
  }
  10% {
    stroke: transparent;
  }
  11% {
    stroke: $primary-color;
  }
  40% {
    stroke: $primary-color;
  }
  41% {
    stroke: transparent;
  }
  45% {
    stroke: transparent;
  }
  46% {
    stroke: $primary-color;
  }
  100% {
    stroke: $primary-color;
  }
}

@keyframes flicker4 {
  0% {
    color: $primary-color;
    text-shadow: 0 0 4px $primary-color;
  }
  30% {
    color: $primary-color;
    text-shadow: 0 0 4px $primary-color;
  }
  31% {
    color: $text-shadow;
    text-shadow: 0 0 4px $text-shadow;
  }
  32% {
    color: $primary-color;
    text-shadow: 0 0 4px $primary-color;
  }
  36% {
    color: $primary-color;
    text-shadow: 0 0 4px $primary-color;
  }
  37% {
    color: $text-shadow;
    text-shadow: 0 0 4px $text-shadow;
  }
  41% {
    color: $text-shadow;
    text-shadow: 0 0 4px $text-shadow;
  }
  42% {
    color: $primary-color;
    text-shadow: 0 0 4px $primary-color;
  }
  85% {
    color: $primary-color;
    text-shadow: 0 0 4px $primary-color;
  }
  86% {
    color: $text-shadow;
    text-shadow: 0 0 4px $text-shadow;
  }
  95% {
    color: $text-shadow;
    text-shadow: 0 0 4px $text-shadow;
  }
  96% {
    color: $primary-color;
    text-shadow: 0 0 4px $primary-color;
  }
  100% {
    color: $primary-color;
    text-shadow: 0 0 4px $primary-color;
  }
}

