@font-face {
  font-family: "IranSans";
  src: url("./Assets/Font/IRANSansWeb(FaNum).ttf") format("ttf"),
    url("./Assets/Font/IRANSansWeb(FaNum).woff") format("woff"),
    url("./Assets/Font/IRANSansWeb(FaNum).woff2") format("woff2"),
    url("./Assets/Font/IRANSansWeb(FaNum).eot") format("eot");
}

:root {
  --IranSansWeb: IranSans;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  scroll-behavior: smooth;
}

a:hover {
  cursor: pointer;
}
a:active {
  transform: scale(0.9);
}

.Search-Modal-Result-Box::-webkit-scrollbar {
  width: 5px;
}
.Search-Modal-Result-Box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.Search-Modal-Result-Box::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.Search-Modal-Result-Box::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

